aside {
    background-image: url(arrow.png);
    background-repeat: no-repeat;
    height: 110px;
    width: 400px;
    margin: 0 auto;
    padding-top: 18px;
    font-family: 'Exo 2';
    font-size: 2em;
    font-weight: 400;
    padding-left: 95px;
}

table {
    width: 100%;
    border-spacing: 0
}

.list {
    margin: 1em 0;
    max-height: 400px;
    overflow: auto;
}

table td {
    padding: 1em;
    border-bottom: 1px solid black;
}

table tr:nth-child(odd) td {
    background-color: #F5F5F5;
}

table td a {
    font-size: 1.1em;
    text-decoration: none;
}

table td a.label {
    color: white;
}

table td ul {
    float: right;
}
