article img {
    float: left;
    width: 96px;
    margin-right: 2em;
}

.fake time, .legend { opacity: .5; }

li > span {
    display: inline-block;
    float: left;
}

ul.skills.inline {
    margin-bottom: 2em;
}

.skills li {
    width: 45%;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    display: inline-block;
    float: right;
    margin-left: 0.5em;
    margin-right: 1em;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span.fill:before {
    content: "\2605";
    position: absolute;
}

.list h1 .legend {
    display: inline-block;
    font-size: 0.2em;
}

.list ul:nth-child(even) li {
    border-left: 3px solid black;
    padding-left: 0.5em;
}

.list ul:nth-child(odd) li {
    border-left: 3px solid #CFCFCF;
    padding-left: 0.5em;
}

.list ul.legend li { border: none; }
