@terminal-bg: #011826;
@terminal-fg: #F1F2EB;
@terminal-font: "Courier New", Courier, "Nimbus Mono L", monospace;

@terminal-header-bg: #023859;
@terminal-header-fg: @terminal-fg;
@terminal-header-font: 'Exo 2', @terminal-font;

@termianl-prompt-fg: #049DBF;
@terminal-prompt-font: @terminal-font;

.terminal {
    background-color: @terminal-bg;
    width: 80%;
    margin: 0 auto;
    min-height: 250px;
    border-radius: 8px;
    color: @terminal-fg;
    font-family: @terminal-font;
    opacity: 0.8;

    &.focus {
        opacity: 1;

        .cursor {
            visibility: visible;
        }
    }

    .cursor {
        visibility: hidden;
    }

    header {
        background-color: @terminal-header-bg;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 8px;
        margin-bottom: 0;

        h1 {
            line-height: 32px;
            font-family: @terminal-header-font;
            font-weight: 700;
            font-size: 18px;
            color: @terminal-header-fg;
            margin: 0;
        }
    }

    .window {
        padding: 8px 16px;
        max-height: 350px;
        overflow: auto;

        p {
            font-weight: bold;
            margin: 4px 0;

            * {
                color: inherit;
            }

            .cursor {
                background-color: @terminal-fg;

                &.hide {
                    visibility: hidden;
                }
            }

            .prompt {
                color: @termianl-prompt-fg;
            }
        }

        code {
            background-color: @termianl-prompt-fg;
        }

        a, strong {
            color: @termianl-prompt-fg;
        }

        &::-webkit-scrollbar-track {
            background-color: @terminal-header-bg;
        }

        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
            background-color: @terminal-bg;
        }

        &::-webkit-scrollbar-thumb {
            background-color: @terminal-bg;
        }

        &::-webkit-scrollbar-thumb:vertical:hover,
        &::-webkit-scrollbar-thumb:horizontal:hover {
            background: @terminal-bg;
        }

        &::-webkit-scrollbar-button {
            width: 0;
            height: 0;
            display: none;
        }

        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }
}
