{% extends "default.twig" %}

{% block content %}
    <article>
        {% include "_partials/time.twig" %}

        <header>
            <h1>{{ page.title }}</h1>
        </header>

        <div class="content">
            {{ content }}

            <script type="text/javascript" src="https://asciinema.org/a/{{ page.asciinema_id }}.js" id="asciicast-{{ page.asciinema_id }}" async></script>
        </div>
    </article>

    {% include '_partials/disqus.twig' %}
{% endblock %}
