{% extends "single-column.twig" %}

{% block content %}
    <div class="row-fluid">
        {% for repository in page.repositories %}
            <div class="github-widget span6" data-repo="{{ repository }}"></div>

            {% if loop.index is divisibleby(2) %}
                </div>
                <br/>
                <div class="row-fluid">
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
