<div class="masthead">
    <ul class="nav nav-pills pull-right">
        <li><a href="index.htm">Accueil</a></li>
        <li><a href="projects.htm">Open Source</a></li>
        <li><a href="https://github.com/jubianchi" target="_blank">Github</a></li>
        <li><a href="https://twitter.com/jubianchi" target="_blank">Twitter</a></li>
    </ul>
    <h3 class="muted">{{ page.header.title ? page.header.title : 'jubianchi.fr' }}</h3>
</div>

<hr>