<header>
    <a href="/index.htm"><img id="avatar" src="images/nyantocat.gif"/></a>

    <h1>Julien Bianchi <small><em>aka jubianchi</em></small></h1>

    <ul>
        <li><a href="mailto:contact@jubianchi.fr" title="email">email</a></li>
        <li><a href="https://twitter.com/jubianchi" title="twitter">twitter</a></li>
        <li><a href="https://github.com/jubianchi" title="github">github</a></li>
        <li><a href="https://speakerdeck.com/jubianchi" title="speakerdeck">speakerdeck</a></li>
        <li><a href="https://coderwall.com/jubianchi" title="coderwall">coderwall</a></li>
        <li><a href="http://osrc.dfm.io/jubianchi" title="Open Source Report Card">OSRC</a></li>
        <li><a href="cv/index.html" title="jubianchi.fr">CV</a></li>
    </ul>
</header>