{% extends "default.twig" %}

{% block content %}
    <article>
        <div class="row-fluid navbar">
            <div class="navbar-inner">
                <h3 class="pull-left">
                    {{ page.title }}
                    <small>{{ page.date|date(DATE_ATOM) }}</small>
                </h3>
            </div>
        </div>

        {% if page.tags %}
            <ul class="tags">
                {% for tag in page.tags %}
                    <li><a href="#" class="label">{{ tag }}</a></li>
                {%  endfor %}
            </ul>
        {% endif %}

        <div class="row-fluid">
            {{ content }}
        </div>
    </article>

    {% include 'disqus.html.twig' %}
{% endblock %}
