{% extends "default.twig" %}

{% block content %}
    <article>
        <div class="row-fluid navbar">
            <div class="navbar-inner">
                <h3 class="pull-left">
                    {{ page.title }}
                    <small>{{ page.date|date(DATE_ATOM) }}</small>
                </h3>
            </div>
        </div>

        <div class="row-fluid">
            {{ content }}
        </div>
    </article>
{% endblock %}
