{% extends "default.twig" %}

{% block content %}
    <article>
        {% include "_partials/time.twig" %}

        <header>
            <h1>{{ page.title }}</h1>
        </header>

        <div class="content">
            {{ content }}
        </div>

        <footer>
            {% include '_partials/tags.twig' %}
        </footer>
    </article>

    {% include '_partials/disqus.twig' %}
{% endblock %}
