{% if page.tags %}
    <ul class="list tags">
        <li class="legend">Publié dans :</li>
        {% for tag in page.tags %}
            <li><span class="label">{{ tag }}</span></li>
        {%  endfor %}
    </ul>
{% endif %}
