html,
body {
    height: 100%;
}

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

ul.tags {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}

ul.tags li {
    display: inline-block;
    margin: 0 5px 0 0;
}

article hr {
    margin-bottom: 0;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#push,
#footer {
    height: 70px;
    padding-top: 20px;
}
#footer {
    background-color: #f5f5f5;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.navbar-inverse h3,
.navbar-inverse h3 a,
.navbar-inverse h4,
.navbar-inverse h4 a {
    color: white;
}

.github-widget {
    margin-bottom: 20px;
}

